WOFFCEdit/.vs/Win32SimpleSample/v15/Browse.VC.db
WOFFCEdit/.vs/Win32SimpleSample/v15/ipch/AutoPCH/WIN32SIMPLESAMPLE-b61102aa/TOOLMAIN-9ab8bee5/TOOLMAIN.ipch
WOFFCEdit/.vs/Win32SimpleSample/v15/Browse.VC.opendb
WOFFCEdit/.vs/Win32SimpleSample/FileContentIndex/17e98039-177d-4445-89bc-995b1630061a.vsidx
WOFFCEdit/.vs/Win32SimpleSample/FileContentIndex/read.lock
WOFFCEdit/.vs/Win32SimpleSample/v17/Browse.VC.db
WOFFCEdit/.vs/Win32SimpleSample/v17/fileList.bin
WOFFCEdit/.vs/Win32SimpleSample/v17/.suo
WOFFCEdit/.vs/Win32SimpleSample/FileContentIndex/d850e1ab-4d8a-469a-ad98-89cc1aa2f1bf.vsidx
WOFFCEdit/.vs/Win32SimpleSample/v17/Browse.VC.db-shm
WOFFCEdit/.vs/Win32SimpleSample/v17/Browse.VC.db-wal
WOFFCEdit/.vs/Win32SimpleSample/v17/Browse.VC.opendb
WOFFCEdit/.vs/Win32SimpleSample/v17/ipch/AutoPCH/5231134f2e59e42b/TOOLMAIN.ipch
WOFFCEdit/.vs/Win32SimpleSample/v17/ipch/AutoPCH/74806336f0d76c35/MAIN.ipch
WOFFCEdit/.vs/Win32SimpleSample/v17/ipch/AutoPCH/ad7b941993245fd2/GAME.ipch
WOFFCEdit/.vs/Win32SimpleSample/v17/ipch/AutoPCH/ae92e75c775002f7/CAMERA.ipch
WOFFCEdit/.vs/Win32SimpleSample/v17/ipch/AutoPCH/77c6f75677732c13/MFCMAIN.ipch
WOFFCEdit/.vs/Win32SimpleSample/FileContentIndex/44e8bde1-d84a-4561-bbcb-6382fa1b97a3.vsidx
WOFFCEdit/.vs/Win32SimpleSample/v17/ipch/AutoPCH/cc09a99dd1a9cda3/DISPLAYOBJECT.ipch
*.ipch
*.vsidx
WOFFCEdit/x64/Debug/WoFEdit.pdb
WOFFCEdit/x64/Debug/WoFEdit.pdb
*.pdb
